.movie {
    position: relative;
    display: flex;
    width: 700px;
    background: #fafafa;
    margin: 35px 50px;
    padding: 30px 25px 0px ;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px .5px rgba(100, 100, 100, 0.3);
}

.movie img {
    position: relative;
    margin-right: 35px;
    height: 310px;
    top: -50px;
    box-shadow: 1px 1px 20px 0px rgba(50,50,50,.8);
}
.movie .title {
    font-size: 23px;
    margin-bottom: 5px;
}
.movie .year {
    font-size: 14px;
    margin-bottom: 10px;
}

.movie .genres {
    font-size: 14px;
    color: #aaa;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
    .movie .genres>li+li::before {
        content: ", ";
    }

.movie .rating {
    margin-bottom: 25px;
}
.movie .rating>span {
    font-weight: bold;
    color: rgb(245, 59, 35);
}
.movie .summary {
    line-height: 20px;
}
.movie .trailer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    background: rgb(55, 55, 55);
    color: white;
}

.movie .trailer>span {
    position: relative;
    transition: 0.3s ease-out;
}
    .movie .trailer:hover>span {
        padding-right: 8px;
    }
.movie .trailer>span::after {
    opacity: 0;
    position: absolute;
    right: 0;
    content: '\00bb';
    transition: .3s ease-out;
}
    .movie .trailer:hover>span::after {
        opacity: 1;
        right: -5px;
    }
