@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body,
#root {
    height: 100%;
}

body {
    background: #d8e2e7;
}

#root {
    font-family: 'Open Sans', sans-serif;
}